DATABASE_URL=postgresql+asyncpg://lingap:password@postgres:5432/lingap
SECRET_KEY=lingap-dev-secret-key-2026
ACCESS_TOKEN_EXPIRE_MINUTES=1440
STELLAR_NETWORK=testnet
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_SOURCE_SECRET_KEY=SCZANGBA5YELNICWN3LZJLMKVO3AJES2KK4GMKSF7DXFXJXBYG7STWIX
CONTRACT_DONATION_VAULT=CDZTFM2BHBLYQLIJSSF7UOSWCQMQMOUATXEJTDOHKBIZ6R4DFZKB7DDP
CONTRACT_AID_PROVENANCE=CDZTFM2BHBLYQLIJSSF7UOSWCQMQMOUATXEJTDOHKBIZ6R4DFZKB7DDP
CONTRACT_BENEFICIARY_REGISTRY=CDZTFM2BHBLYQLIJSSF7UOSWCQMQMOUATXEJTDOHKBIZ6R4DFZKB7DDP
STELLAR_TOKEN_CONTRACT=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
CORS_ORIGINS=http://localhost:3000